<a href="https://colab.research.google.com/github/andreatr09/wkl.1310.2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro Python 3
## Variables
tipo dinámico
escuela - "FES Aragón"

In [5]:
escuela = "FES Aragon"
print (escuela)
print ("--------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es
una
frase
de multiples lineas
y tambien 
es un tipo de dato
"""

print (frase)
nombre = 'jose'
nombre_completo = "jose sosa cardena"

FES Aragon
--------

Esta es
una
frase
de multiples lineas
y tambien
es un tipo de dato

# Print
con comas ,

con signo mas +

con format ()

con el operador f""

In [6]:
# , da un espacio
print (nombre, edad)

jose 13

In [8]:
# + concatena str cadena no pone espacio
print (nombre + str(edad))
print (nombre+nombre_completo)

jose13
josejose sosa cardena

In [13]:
# con formato --> Su nombre es Jose y su edad es de 13 años
print ("Su nombre es",nombre,"y su edad es de",edad,"años.")
print ("Su nombre es {0} y su edad es de {1} años.".format(nombre,edad))
print ("Su nombre es {1} y su edad es de {0} años.".format(nombre,edad))

Su nombre es jose y su edad es de 13 años.
Su nombre es jose y su edad es de 13 años.
Su nombre es 13 y su edad es de jose años.

In [14]:
# con formato con el operador f"
print (f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es jose y su edad es de 13 años.

# Caracter de escape
\n salto de linea

\t tabulador 

\a beep

\"imprimir comilla doble

\' imprimir comilla simple

In [15]:
"""
Esto es
un comentario 
de multiple linea
"""
print (f"\tMi nombre es \n\t\t {nombre}")

	Mi nombre es
		 jose

# Ayuda de tipos de dato en python
dir() --> tipo de dato

help() --> mas detalle

In [ ]:
#str, int, float, bool ... list, dict, set
help (str)

In [20]:
print (nombre_completo.capitalize())
print (nombre_completo.upper() , end="----")
print (nombre_completo.title())

Jose sosa cardena
JOSE SOSA CARDENA----Jose Sosa Cardena

In [ ]:
help (print)

# clase String
Es manejada como un arreglo (c o java) o lista (python)

telefono = "Huawei mate 30 pro"

print (telefono [0] )

In [22]:
telefono = "Huawei mate 30 pro"
print (telefono [5] )

i

# Slicing (rebanado)
[ini : stop : incremento]

nota: el stop no se incluye, termina en el valor anterior al stop

In [30]:
print (telefono [7:11:1])
# el inicio y el incremento son opcionales
print (telefono [:11:])
#el valor por defecto de stop es len(str)
print (telefono [::])
#incremento negativo
print (telefono [::-1])
#slicing negativo
ini = -3
inc = 1
print (telefono [-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# Funciones de string (str)
Existen metodos muy utiles en esta clase, dentro de las cuales se encuentran:

In [50]:
facultad = "    facultad de estudios superiores aragon      \n"
print (facultad)
print (facultad.count('u') ) #cuenta el n umero de elementos de la cadena
print (facultad.find('s'))#da la posicion
print (facultad.strip()) #remueve los espacios en blanco, quita saltos de linea
tamaño = (len (facultad))
print (len (facultad)) #len regresa la longitud del string
print (f"tamaño de la cadena es {tamaño} caracteres")

#split dividir, cortar cadena en base a un caracter en especial
print(facultad)
print (facultad.split("t"))
print (facultad.strip().split(" "))

#copiar cadenas
otra_cadena = facultad
print (otra_cadena)
otra_cadena ="FES Aragon"
print (facultad)
print (otra_cadena)

#copiar listas
colores = ("rojo", "morado")
otra = colores
print (colores)
print (otra)

print (colores)
print (otra)

    facultad de estudios superiores aragon

3
17
facultad de estudios superiores aragon
49
tamaño de la cadena es 49 caracteres
    facultad de estudios superiores aragon

['    facul', 'ad de es', 'udios superiores aragon      \n']
['facultad', 'de', 'estudios', 'superiores', 'aragon']
    facultad de estudios superiores aragon

    facultad de estudios superiores aragon

FES Aragon
('rojo', 'morado')
('rojo', 'morado')
('rojo', 'morado')
('rojo', 'morado')