<a href="https://colab.research.google.com/github/andreatr09/wkl.1310.2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#String continuacion

numeros_txt = "   1,  2, 3, 4, 5,    35,   15,   12"
print (numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print (numeros_txt)

for j in range (len (numeros_txt)):
  numeros_txt [ j ] = int(numeros_txt[j]. strip())

print (numeros_txt)  

#funcion range ()
#range (inicio, stop, incremento)

print (range(1,10,2))
rango = range(1,10,2)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

   1,  2, 3, 4, 5,    35,   15,   12
['1', '  2', ' 3', ' 4', ' 5', '    35', '   15', '   12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 2)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# Listas
- mutables
- declaran con [  ]
- selector [ int ]
- pueden ser de cualquier tipo y mezclado

# Tuplas
- NO mutables
- declaran con (  )
- selectos [ int ]

# Diccionarios
- son mutables
- son conjunto de pares llave:valor
- Equivalentes a los Objetos JSON de JavaScritp

# Conjuntos
- representacion de la teoria de conjuntos

In [23]:
#listas (Equivalentes a arreglos en otros lenguajes de programacion)
frutas = ["Pera", "Manzana", "fresa", "Mango", "Naranja"]
print(frutas)

cosas = ["cuadernos", 2 , 3.1415 , True , False , ["Rojo" , "Azul"] ]
print(cosas)

frutas[2]= "Fresa" # frutas [2] = frutas [2].capitalize()
print(frutas)

#agregar a lista
frutas.append("Cereza") #agrega al final
print(frutas)
frutas.insert(2, "Sandia") #agrega antes de la posicion 
print(frutas)

#concatenar lista
fecha = ["06", "10", "2020"] # 06/10/20
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Mango', 'Naranja']
['cuadernos', 2, 3.1415, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Mango', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Mango', 'Naranja', 'Cereza']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Mango', 'Naranja', 'Cereza']
['06', '10', '2020']
06/10/2020
['cuadernos', 2, 3.1415, True, False, ['Rojo', 'Azul']]

In [33]:
#eliminar elementos
cosas = ["cuadernos", 2 , 3.1415 , True , False , ["Rojo" , "Azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)
algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

#vaciar una lista
cosas.clear() #deberias tener la lista vacia
print(cosas)

#ordenar la lista
print(frutas)
frutas.sort() #de acuerdo al diccionario
print(frutas)

['cuadernos', 2, 3.1415, True, False, ['Rojo', 'Azul']]
['cuadernos', 2, 3.1415, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuadernos', 2, 3.1415, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuadernos', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1415
['cuadernos', True, False, ['Rojo', 'Azul'], 'Libro']
[]
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Mango', 'Naranja', 'Cereza']
['Cereza', 'Fresa', 'Mango', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [41]:
#slicing

cosas = ["cuadernos", 2 , 3.1415 , True , False , ["Rojo" , "Azul"] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1]) #el primero es string y despues el slicing

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros [8:13])

#sustituir rebanadas  -2,-2 -> [0,1,2,3,4,5,6,7,-2,-2,13,14,15]
numeros[8:13:] = [-2,-2]
print(numeros)

#preguntar por una existencia
print(-2 in numeros) #preguntar si existe un numero //True
print(100 in numeros) # //False

[True, False]
['cuadernos', 2, 3.1415, True, False, ['Rojo', 'Azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, -2, 13, 14, 15]
True
False

# Listas multi-dimension
## Listas dentro de listas

In [52]:
computadoras = ["HP", "Mac Book Pro 17", "Mate book", "Lenovo legion"]
oss = ["Windows 10", "Linux", "Android", "iOSS"] #Sistema operativo

computo =[computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1]) #Es lo mismo , solo que se cuenta con numero negativo de reversa
dbms = [ ["Mysqul" , "Open Source" , False] , ["MS SQL Server", "de paga" , True] ]#sistema gestor base de datos
#Tres niveles
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print (computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['Windows 10', 'Linux', 'Android', 'iOSS']
Mate book
Mate
ovoneL
ovoneL
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['Windows 10', 'Linux', 'Android', 'iOSS'], [['Mysqul', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysqul
de paga